@model GuardingUS30.Models.UserNotificationListViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notification</title>
</head>
<body>
    <h4>Choosing a User</h4>
    <hr />
    @using (Html.BeginForm("SendNotificationProcess", "SecurityGuard", FormMethod.Post, new { id = "form1" }))
    {
        <table cellpadding="0" cellspacing="0" style="width:70%">

            <tr>
                <th></th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phonenumber</th>


            </tr>

            @for (int i=0; i< Model.NotificationsList.Count(); i++)
            {
                <tr>
                    @Html.HiddenFor(model => model.NotificationsList[i].notification.idnotification)
                    @Html.HiddenFor(model => model.NotificationsList[i].user.iduser)
                    <td>@Html.CheckBoxFor(model => model.NotificationsList[i].notification.IsSelected)</td>
                    <td>@Html.TextBoxFor(model => model.NotificationsList[i].user.name)</td>
                    <td>@Html.TextBoxFor(model => model.NotificationsList[i].user.email)</td>
                    <td>@Html.TextBoxFor(model => model.NotificationsList[i].user.phonenumber)</td>
                </tr>
            }
            <tr>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Send" name="action" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <input type="submit" value="Send Everyone" name="action" class="btn btn-primary" />
        </div>
    }
    <a class="nav-link text-dark" asp-area="" asp-controller="SecurityGuard" asp-action="SecurityGuardView">Cancel</a>

</body>
</html>